<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Producto</title>
    <link rel="stylesheet" href="../style/style.css">
    <link rel="stylesheet" href="../lib/bootstrap/css/bootstrap.min.css">
</head>
<body>
    <div class="container ">
    
        <h1 class="mb-4">Producto</h1>
    
        <div class=" ">
            <div class="d-flex gap-2 mb-3">
                <select id="CategoriaID" name="CategoriaID" class="form-control">
                    <option value="">[SELECCIONE...]</option>
                </select>
                
            </div>

    <script src="../lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="../js/Producto.1.0.0.js"></script>
</body>
</html>